<select id="options">
                <option value="">Select Filter</option>
                <option value="resize">Resize Image</option>
                <option value="grayscale">GrayScale</option>
                <option value="contrast">Contrast</option>
                <option value="brightness">Brightness</option>
                <option value="gaussian">Gaussian Blur</option>
                <option value="filter">Color Filter</option>
                <option value="opacity">Opacity</option>
                <option value="crop">Crop</option>

</select>
