<div class="container d-flex flex-column align-items-center" id="features">
        <div style="color:aliceblue;">Filters</div>

        <div class="d-flex flex-row align-items-center justify-content-left" style="min-width: 100%;
        border-block-width: inherit;border-radius: 4px;padding: 5px 2px;display: flex;"
          id="feature-buttons">
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Draw"
              onclick="window.layers.applyFilter('add_border');">

                <i class="bi bi-border-all"></i>
              </a>
            </div>

        </div>

        <div class="container filter-options d-flex flex-column" id="feature-options">

        </div>
</div>




