<div class="container d-flex flex-column align-items-center" id="features">
        <div style="color:aliceblue;">Filters</div>

        <div class="d-flex flex-wrap align-items-center justify-content-left" style="min-width: 100%;
        border-block-width: inherit;border-radius: 4px;padding: 5px 2px;display: flex;"
          id="feature-buttons">

            <!--Add Border-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Add Border"
              onclick="window.layers.applyFilter('add_border');">

                <i class="bi bi-border-all"></i>
              </a>
            </div>
            <!--Add Border-->
            <!--Brightness-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Brightness"
              onclick="window.layers.applyFilter('brightness');">

                <i class="bi bi-brightness-high"></i>
              </a>
            </div>
            <!--Brightness-->
            <!--Check Color-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Check Color"
              onclick="window.layers.applyFilter('check_color');">

                <i class="bi bi-eyedropper"></i>
              </a>
            </div>
            <!--Check Color-->
            <!--Contrast-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Contrast"
              onclick="window.layers.applyFilter('contrast');">

                <i class="bi bi-palette-fill"></i>
              </a>
            </div>
            <!--Contrast-->
            <!--Crop-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Crop"
              onclick="window.layers.applyFilter('crop');">

                <i class="bi bi-scissors"></i>
              </a>
            </div>
            <!--Crop-->
            <!--Edge-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Edge"
              onclick="window.layers.applyFilter('edge');">

                <i class="bi bi-square-half"></i>
              </a>
            </div>
            <!--Edge-->
            <!--Filter-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Filter"
              onclick="window.layers.applyFilter('filter');">

                <i class="bi bi-funnel"></i>
              </a>
            </div>
            <!--Filter-->
            <!--Gaussian-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Gaussian"
              onclick="window.layers.applyFilter('gaussian');">

                <i class="bi bi-disc"></i>
              </a>
            </div>
            <!--Gaussian-->
            <!--Mask-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Mask"
              onclick="window.layers.applyFilter('mask');">

                <i class="bi bi-mask"></i>
              </a>
            </div>
            <!--Mask-->
            <!--Opacity-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Opacity"
              onclick="window.layers.applyFilter('opacity');">

                <i class="bi bi-transparency"></i>
              </a>
            </div>
            <!--Opacity-->
            <!--Resize-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Resize"
              onclick="window.layers.applyFilter('resize');">

                <i class="bi bi-aspect-ratio"></i>
              </a>
            </div>
            <!--Resize-->
            <!--Rotate-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Rotate"
              onclick="window.layers.applyFilter('rotate');">

                <i class="bi bi-arrow-repeat"></i>
              </a>
            </div>
            <!--Rotate-->
            <!--Vignette-->
            <div class="d-flex col-2 flex-column justify-content-center">
              <a  class="btn btn-warning  disabled"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Vignette"
              onclick="window.layers.applyFilter('vignette');">

                <i class="bi bi-vignette"></i>
              </a>
            </div>
            <!--Vignette-->






        </div>

        <div class="container filter-options d-flex flex-column" id="feature-options">

        </div>
</div>




