<div id="histogram" class="row" style="display: none;">
    <div id="container" class="d-flex justify-content-center align-items-center col-10
    ">

    </div>
    <div class="color-picker col-2 d-flex flex-column justify-content-center align-items-center" id="color-picker">
        <input class="form-check-input histogramColor"  id="red" type="checkbox"
         style="background-color: red; width:12px;" checked/>
        <label for="red" style="font-size: 10px;">Red</label>
        <input class="form-check-input histogramColor"  id="green" type="checkbox"
        style="background-color: green; width:12px;" checked/>
        <label for="green" style="font-size: 10px;">Green</label>
        <input class="form-check-input histogramColor"  id="blue" type="checkbox"
        style="background-color: blue; width:12px;" checked/>
        <label for="blue" style="font-size: 10px;">Blue</label>
    </div>

</div>