<div id="histogram">
    <div id="container">

    </div>
    <div class="color-picker" id="color-picker">
        <input class="form-check-input histogramColor"  id="red" type="checkbox"
         style="background-color: red;" checked/>
        <label for="red">Red</label>
        <input class="form-check-input histogramColor"  id="green" type="checkbox"
        style="background-color: green;" checked/>
        <label for="green">Green</label>
        <input class="form-check-input histogramColor"  id="blue" type="checkbox"
        style="background-color: blue;" checked/>
        <label for="blue">Blue</label>
    </div>

</div>