<div class="container d-flex flex-column align-items-center" id="layers">
    <div style="color:aliceblue;">Layers</div>
    <div class="d-flex flex-column align-items-center" style="min-width: 100%;background: #424242;
    border-style: inset;border-block-width: inherit;border-radius: 2px;padding: 5px 2px;display: flex;"
     id="layer-container"></div>
     <a class="btn btn-warning" type = "button" data-bs-toggle="modal" data-bs-target="#layerName"><div class="template html-only" path="components/icons/newLayer"></div></a>

</div>



<div class="modal" id="layerName" tabindex="-1" role="dialog">
    <script>

    </script>
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background:#bfbfbf;">
        <div class="modal-header justify-content-between">
          <h5 class="modal-title">Layer Name</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input id="layerNameInput" type="text"/>
        </div>
        <div class="modal-footer">
          <button onclick="layers.addLayer();" class="btn btn-secondary" data-bs-dismiss="modal">Enter</button>
        </div>
      </div>
    </div>

  </div>
