<div class="arguments" id="filter" style="color: aliceblue;">
    <div class="row">
        <label for="filterColor">Color</label>
        <input id="filterColor" type="color" style="width: 50px;">
    </div>
    <div class="row">
        <label for="strength">Strength</label>
        <input id="strength"  type="range" min="0" max="100" value="0" class="slider">>
    </div>
    <div class="row" style="margin-top: 5px;">
        <a class="btn btn-warning" type="button" onclick="editor.execute('filter')">Apply</a>
    </div>
</div>