<div class="arguments" id="resize" style="color: aliceblue;">
    <div class="row">
        <label for="aspect_ratio">Keep Aspect Ratio</label>
        <input id="aspect_ratio" type="checkbox">
    </div>
    <div class="row">
        <label for="width">Width</label>
        <input id="width">
        <label for="height">Height</label>
        <input id="height">
    </div>
    <div class="row" style="margin-top: 5px;">
        <a class="btn btn-warning" type="button" onclick="editor.execute('resize')">Apply</a>
    </div>
</div>